html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.body-home {
  width: 100%; 
}

.logo {
    max-width: 100%;
    max-height: 40vh;
    margin-bottom: 2rem;
    display: block;
  margin: auto;
  padding: 25px 10px 10px 10px;
}

.start-button {
    max-width: 60%;
    max-height: 15vh;
    cursor: pointer;
    transition: transform 0.2s ease;
  display: block;
  margin: auto;
  padding: 25px 10px 10px 10px;
}

.start-button:hover {
    transform: scale(1.05);
}

.start-button:active {
    transform: scale(0.95);
}
